<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archive des compétitions</title>
    <!-- Ajout de Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Ajout de votre propre fichier CSS -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">Archive des compétitions</h1>
        <ul class="list-group">
            {% for competition in competitions %}
            <li class="list-group-item">
                <h2>{{ competition['name'] }}</h2>
                <p>Date : {{ competition['date'].strftime('%Y-%m-%d %H:%M:%S') }}</p>
                <p>Nombre de places : {{ competition['numberOfPlaces'] }}</p>
            </li>
            {% endfor %}
        </ul>
        <!-- Bouton de retour à l'accueil -->
        <a href="{{ url_for('index') }}" class="btn btn-primary">Retour à l'accueil</a>
    </div>

    <!-- Ajout de jQuery et Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Ajout de votre propre fichier JS -->
    <script src="script.js"></script>
</body>
</html>
